

h1 {
    color: hotpink;
}

p {
    width: 60%;
    background-color: rgb(207, 158, 158);
    color: rgb(46, 32, 32);
}

h2 {
    text-align: center;
    line-height: 2;
}

body {
    margin: 15px 0;
    font-family: 'Arial', sans-serif;
}

article {
    color: rgb(193, 77, 77);
    padding: 20px;
    font-size: 18px;
}

h3 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #8d7070;
    padding: 10px;
}
